name: release

on:
  push:
    tags:
      - "v*.*.*"
    branches:
      - "release-v*"

jobs:
  validate_DA_ID_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/validate-bitcoin-da
        with:
          expected_da_id: ${{ vars.EXPECTED_BITCOIN_DA_ID }}
          action: validate_format

  linux_amd64_binary_extraction:
    needs: validate_DA_ID_format
    runs-on: ubicloud-standard-30
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          sudo apt update && sudo apt -y install curl gcc cpp cmake clang llvm
          sudo apt -y autoremove && sudo apt clean && sudo rm -rf /var/lib/apt/lists/*

      - name: Install Rust
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          rustup install 1.81.0
          rustup default 1.81.0

      - name: Install risc0
        uses: ./.github/actions/install-risc0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Project
        env:
          REPR_GUEST_BUILD: 1
        run: |
          cargo build --release

      - name: Check BATCH_PROOF_BITCOIN_ID
        id: check-id
        uses: ./.github/actions/validate-bitcoin-da
        with:
          expected_da_id: ${{ vars.EXPECTED_BITCOIN_DA_ID }}
          action: check_binary

      - name: Upload linux-amd64 Binary
        uses: actions/upload-artifact@v4
        with:
          name: citrea-${{ github.ref_name }}-linux-amd64
          path: target/release/citrea

  osx_arm64_binary_extraction:
    needs: validate_DA_ID_format
    runs-on: self-hosted-citrea-osx-arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Rust
        run: |
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          rustup install 1.81.0
          rustup default 1.81.0

      - name: Install risc0
        uses: ./.github/actions/install-risc0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Project
        env:
          REPR_GUEST_BUILD: 1
        run: |
          source $HOME/.cargo/env
          cargo build --release

      - name: Check BATCH_PROOF_BITCOIN_ID
        id: check-id
        uses: ./.github/actions/validate-bitcoin-da
        with:
          expected_da_id: ${{ vars.EXPECTED_BITCOIN_DA_ID }}
          action: check_binary

      - name: Upload osx-arm64 Binary
        uses: actions/upload-artifact@v4
        with:
          name: citrea-${{ github.ref_name }}-osx-arm64
          path: target/release/citrea

  release:
    needs: [ linux_amd64_binary_extraction, osx_arm64_binary_extraction ]
    runs-on: ubuntu-latest
    steps:
      - name: Download linux-amd64 Binary
        uses: actions/download-artifact@v4
        with:
          name: citrea-${{ github.ref_name }}-linux-amd64
          path: release

      - name: rename file
        run: |
          mv release/citrea release/citrea-${{ github.ref_name }}-linux-amd64

      - name: Download OSX ARM64 Binary
        uses: actions/download-artifact@v4
        with:
          name: citrea-${{ github.ref_name }}-osx-arm64
          path: release

      - name: rename file
        run: |
            mv release/citrea release/citrea-${{ github.ref_name }}-osx-arm64

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            release/citrea-${{ github.ref_name }}-osx-arm64
            release/citrea-${{ github.ref_name }}-linux-amd64
          name: Release ${{ github.ref_name }}
          body: |
            This is the release for version ${{ github.ref_name }}.

            It includes:
            - citrea-${{ github.ref_name }}-linux-amd64
            - citrea-${{ github.ref_name }}-osx-arm64
